@import '../../../scss/App';

.storybook-label {
  @include font-face('Inter', 400, normal);
  @include font-size(18);
  line-height: 150%;
  color: rgba($text-color, 0.6);
  display: flex;

  &--column {
    flex-direction: column;

    .storybook-input {
      margin-top: 5px;
    }
  }

  &--row {
    flex-direction: row;
    align-items: center;

    .storybook-input {
      margin-left: 10px;
    }
  }

  &--small {
    @include font-size(12);
  }

  &--medium {
    @include font-size(16);
  }

  &--large {
    @include font-size(18);
  }
}

.storybook-input{
  @include font-face('Inter', 400, normal);
  border: 1px solid rgba(0, 66, 105, 0.28);
  width: 280px;
  color: $text-color, 0.6;

  &::placeholder {
    line-height: 150%;
    color: rgba($text-color, 0.35);
  }

  &--small {
    @include font-size(12);
    height: 32px;
    padding: 5.5px 8px;
  }

  &--medium {
    @include font-size(16);
    height: 40px;
    padding: 8px 12px;
  }

  &--large {
    @include font-size(18);
    height: 48px;
    padding: 10.5px 12px;
  }

  &--bR-0 {
    border-radius: 0px;
  }

  &--bR-4 {
    border-radius: 4px;
  }

  &--bR-99 {
    border-radius: 99px;
  }
}
