@import '../../../scss/app';

.storybook-card {
  width: 400px;
  min-height: 400px;
  &--bR-0px {
    border-radius: 0px;
  }
  &--bR-4px {
    border-radius: 4px;
  }
  &--bR-8px {
    border-radius: 8px;
  }
  &--bR-16px {
    border-radius: 16px;
  }
  &--shadow {
    box-shadow: 0px 2px 2px rgba($boxshadow-color, 0.02), 0px 2px 8px rgba($boxshadow-color, 0.16);
  }
  &--bordered {
    border: 1px solid rgba($border-color, 0.2);
  }
}
