@import '../../../scss/App';
@import '../Input/Input';

.storybook-label {
  @include font-face('Inter', 400, normal);
  @include font-size(18);
  line-height: 150%;
  color: rgba($text-color, 0.6);
  display: flex;

  &--column {
    flex-direction: column;

    .storybook-input {
      margin-top: 5px;
    }
  }

  &--row {
    flex-direction: row;
    align-items: center;

    .storybook-input {
      margin-left: 10px;
    }
  }

  &--small {
    @include font-size(12);
  }

  &--medium {
    @include font-size(16);
  }

  &--large {
    @include font-size(18);
  }
}
