<<<<<<< HEAD
<<<<<<< HEAD
$white-color: #FFFFFF;
$blue-color: #0078D2;
$text-color: #002033;
$boxshadow-color: rgb(0, 32, 51);
$border-color: rgb(0, 65, 102);
=======
=======
>>>>>>> parent of d6d87a5 (Create the component a card)
:root {
    //colors
    --white-color: #FFFFFF;
    --blue-color: #0078D2;
}
<<<<<<< HEAD
>>>>>>> parent of d6d87a5 (Create the component a card)
=======
>>>>>>> parent of d6d87a5 (Create the component a card)
